* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
}

a { 
    color: inherit; 
}

/* HEADER */

.container {
    min-height: 100vh;
}

.header, .footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
    background-color: rgb(20, 20, 20);
}

.list-menu-content, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: white;
    
}

.img-fla {
    width: 70px;
}

.img-fla2 {
    width: 170px;
}



/* CONTENT */


.text-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}


.container-content  {
    height: 100vh;
    padding: 20px;
    background-color: brown;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "item1 item2 item3 item4"
    "item5 item6 item7 item4"
    "item8 item9 item10 item4";
    
}

.item{
    width: auto ; 
    height: auto;
    background-color: white;
    border: 2px solid black;
}


.item4 {
    grid-area: item4;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.item-especial {
    background-color: aqua;
    width: 70%;
    height: 30%;
}








